{% extends "base.html" %}

{% block title %}Admin Dashboard{% endblock title %}

{% block content %}

<h2 class="text-center mb-5">Manage Students </h2>

<div class="container">
  {# Export csv started #}
    <a href="/export_students_record" class="btn btn-success mb-4">Export to CSV</a>
  {# Export csv started #}
</div>

<div class="container text-white bg-dark">
  <table class="table table-dark table-bordered table-striped">
    <thead>
        <tr>
            <th scope="col">Sr. No</th>
            <th scope="col">ID</th>
            <th scope="col">Full Name</th>
            <th scope="col">Email</th>
            <th scope="col">Password</th>
            <th scope="col">Profile</th>
            <th scope="col">Profile Encoding</th>
            <th scope="col">Action</th>
        </tr>
    </thead>

    <tbody>
        {% for student in students %}
        <tr>
            <th scope="row">{{ loop.index }}</th>
            <td>{{ student.id }}</td>
            <td>{{ student.full_name }}</td>
            <td>{{ student.email }}</td>
            <td>{{ student.password[0:5] }}</td>
            <td>{{ student.image }}</td>
            <td>{{ student.face_encoding[0:5] }}</td>
            <td><a href="{{ url_for('delete_student', student_id=student.id) }}" class='btn btn-danger'>Delete</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>

{% endblock content %}